@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kalam:wght@300;400;700&family=Permanent+Marker&family=Sedgwick+Ave&family=Single+Day&family=Tillana:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");

/* 
  font-family: "Tillana", system-ui;
  font-family: "Kalam", cursive;
  font-family: "Single Day", cursive;
  font-family: "Sedgwick Ave", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Noto Sans Georgian", sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url(/src/assets/images/coverTest.png);
  background-size: contain;
} */

.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  overflow: hidden;
}

/* SERENADA */

.audio__wrapper {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.audio__container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;

  border-radius: 0.5rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
  box-shadow: 5px 10px 15px -3px #4e437680;

  background-color: #4e43764b;
  /* background-color: white; */
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
}

.audio__cover {
  max-width: 450px;
  max-height: 450px;
  height: auto;
  background-color: #f1f4f9;
  border-radius: 0.5rem;
}

.audio__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.serenada__controls {
  display: grid;
  gap: 1rem;
}

input[type="range"] {
  width: 100%;
  height: 3px;
  accent-color: #4e4376;
  outline: none;
}

.serenada__duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.serenada__duration > p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  color: #18181f;
  margin: 0;
}

.serenada__btn {
  width: clamp(3rem, 15vw + 1px, 5rem);
  height: clamp(3rem, 15vw + 1px, 5rem);
  font-size: clamp(10px, 3vw + 1px, 16px);
  font-weight: 600;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px hsla(253, 28%, 36%, 0.5);
  border-radius: 10px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  justify-self: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;

  position: relative;
}

.serenada__btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.serenada__btn span {
  color: #e9e9f3;
}

/* CARDS */

.card {
  background: linear-gradient(90deg, #ffff 1px, #fff 1px);
  background-size: (5px 5px);
  border-radius: 0.5rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card--text {
  padding: 1rem;
  text-align: center;
  font-family: "Kalam";
  font-size: 3rem;
  font-size: 1.5rem;
  font-size: clamp(1rem, 3vw + 1px, 3rem);
  font-weight: 700;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper {
  width: clamp(192px, 50vw + 1px, 550px);
  height: clamp(192px, 50vw + 1px, 550px);
}

/* QUESTION */

.question__wrapper {
  display: flex;
  justify-content: center;
  color: #fff;
}

.question__container {
  /* width: 500px; */
  /* height: 500px; */

  width: clamp(250px, 50vw + 1px, 550px);
  height: clamp(250px, 50vw + 1px, 550px);

  padding: 1rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
  border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 5fr 1fr;

  background-color: aqua;

  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  /* background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
}

.quesion {
  justify-self: center;
  align-self: center;
  font-size: clamp(1rem, 5vw + 1px, 3rem);
  text-align: center;
  font-family: "Noto Sans Georgian", sans-serif;
}

.btn__container {
  display: flex;
  justify-content: space-around;

  position: relative;

  color: inherit;
}

.btn {
  /* height: 3rem;
  height: 2.5rem;
  width: 7rem;
  width: 5rem; */

  height: clamp(2.5rem, 5vw + 1px, 3rem);
  width: clamp(5rem, 7vw + 1px, 7rem);

  font-size: 1.5rem;
  font-size: 1rem;
  font-size: clamp(1rem, 3vw + 1px, 1.5rem);

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  box-shadow: 5px 10px 15px -3px #0000001a;
  position: absolute;

  color: inherit;

  background-color: aqua;
}

.btn--yes {
  transition: transform 0.25s ease-in-out;
  left: 10%;
  bottom: 35%;

  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}

.btn--no {
  transition: transform 0.25s ease-in-out;
  right: 10%;
  bottom: 35%;
  transition: all 0.55s ease;

  background-image: linear-gradient(
    to right,
    #4b6cb7 0%,
    #3b5da1 51%,
    #4b6cb7 100%
  );
}

.active {
  /* height: 50px;
  width: 50px; */

  height: 1.5rem;
  width: 3.5rem;

  font-size: 15px;
}

.Lottie {
  width: clamp(250px, 50vw + 1px, 550px);
  height: clamp(250px, 50vw + 1px, 550px);
  position: absolute;

  /* z-index: -1; */
}
