@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kalam:wght@300;400;700&family=Permanent+Marker&family=Sedgwick+Ave&family=Single+Day&family=Tillana:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");

/* 
  font-family: "Tillana", system-ui;
  font-family: "Kalam", cursive;
  font-family: "Single Day", cursive;
  font-family: "Sedgwick Ave", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Noto Sans Georgian", sans-serif;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/src/assets/images/coverTest.png);
  background-size: contain;
  position: relative;

  overflow-x: hidden;
}

.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  overflow: hidden;
}

/* SERENADA */

.audio__wrapper {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.audio_wrapper--wrapper {
  background-color: white;
  border-radius: 0.5rem;
}

.audio__container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;

  border-radius: 0.5rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
  box-shadow: 5px 10px 15px -3px #4e437680;

  background-color: #cbc8d7;
}

.audio__cover {
  max-width: 450px;
  max-height: 450px;
  height: auto;
  background-color: #f1f4f9;
  border-radius: 0.5rem;
}

.audio__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.serenada__controls {
  display: grid;
  gap: 1rem;
}

input[type="range"] {
  width: 100%;
  height: 3px;
  accent-color: #4e4376;
  outline: none;
}

.serenada__duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.serenada__duration > p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  color: #18181f;
  margin: 0;
}

.serenada__btn {
  width: clamp(3rem, 15vw + 1px, 5rem);
  height: clamp(3rem, 15vw + 1px, 5rem);
  font-size: clamp(10px, 3vw + 1px, 16px);
  font-weight: 600;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  color: #ffffff;

  background-image: linear-gradient(
    to right,
    #2b5876 0%,
    #4e4376 51%,
    #2b5876 100%
  );

  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px hsla(253, 28%, 36%, 0.5);
  border-radius: 10px;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  justify-self: center;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;

  position: relative;
}

.serenada__btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.serenada__btn span {
  color: #e9e9f3;
}

/* CARDS */

.card {
  background: linear-gradient(90deg, #ffff 1px, #fff 1px);
  background-size: (5px 5px);
  border-radius: 0.5rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card--text {
  padding: 1rem;
  text-align: center;
  font-family: "Kalam";
  font-size: 3rem;
  font-size: 1.5rem;
  font-size: clamp(1rem, 3vw + 1px, 3rem);
  font-weight: 700;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper {
  width: clamp(192px, 50vw + 1px, 550px);
  height: clamp(192px, 50vw + 1px, 550px);
}

/* QUESTION */

.question__wrapper {
  display: flex;
  justify-content: center;
  color: #fff;
}

.question__container {
  width: clamp(250px, 50vw + 1px, 550px);
  height: clamp(250px, 50vw + 1px, 550px);

  padding: 1rem;
  box-shadow: 5px 10px 15px -3px #0000001a;
  border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 5fr 1fr;

  background-color: aqua;

  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  /* background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
}

.quesion {
  justify-self: center;
  align-self: center;
  font-size: clamp(1rem, 5vw + 1px, 3rem);
  text-align: center;
  font-family: "Noto Sans Georgian", sans-serif;
}

.btn__container {
  display: flex;
  justify-content: space-around;

  position: relative;

  color: inherit;
}

.btn {
  height: clamp(2.5rem, 5vw + 1px, 3rem);
  width: clamp(5rem, 7vw + 1px, 7rem);

  font-size: clamp(1rem, 3vw + 1px, 1.5rem);

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  box-shadow: 5px 10px 15px -3px #0000001a;
  position: absolute;

  color: inherit;

  background-color: aqua;
}

.btn--yes {
  transition: transform 0.25s ease-in-out;
  left: 10%;
  bottom: 35%;

  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}

.btn--no {
  transition: transform 0.25s ease-in-out;
  right: 10%;
  bottom: 35%;
  transition: all 0.55s ease;

  background-image: linear-gradient(
    to right,
    #4b6cb7 0%,
    #3b5da1 51%,
    #4b6cb7 100%
  );
}

.active--btn {
  height: 1.5rem;
  width: 3.5rem;
  font-size: 15px;
}

.Lottie {
  width: clamp(250px, 50vw + 1px, 550px);
  height: clamp(250px, 50vw + 1px, 550px);
  position: absolute;
}

/* Werili */

.envelope__wrapper {
  margin: 0 auto;
  width: clamp(250px, 50vw + 1px, 550px);
  aspect-ratio: 2/1;

  position: relative;

  z-index: 3;

  box-shadow: 5px 10px 15px -3px #0000001a;
  filter: drop-shadow(5px 10px 5px #0000001a);

  border-radius: 0.5rem;

  background-color: white;
}

.envelope__top {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  background: #fafefe;
  background: #5ea3a3;

  clip-path: polygon(0% 0%, 100% 0%, 50% 52.75%);
  height: 150%;
  width: 101%;
  position: absolute;
  top: 0;
  transform-origin: top;

  z-index: 2;

  border-radius: inherit;

  transform-origin: top;
}

.envelope__bottom {
  border-radius: inherit;

  position: relative;
  z-index: 1;

  background: #fcfaf6;
  background: #0b7176;

  width: 101%;
  height: 101%;
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);

  filter: drop-shadow(-5px -10px -5px #0000001a);
}

.envelope__bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: inherit;

  clip-path: polygon(0% 0%, 100% 0%, 50% 52.75%);
  transform: rotate(180deg);
  background: #fcfefe;
  background: #add2c9;
  background: #488b8f;
}

.envelope__btn {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);

  border: none;
  padding: 1rem;
  border-radius: 50%;

  width: clamp(2.5rem, 7vw + 1px, 5rem);
  height: clamp(2.5rem, 7vw + 1px, 5rem);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(10px, 3vw + 1px, 1rem);

  z-index: 3;

  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );

  color: white;

  background-size: 200% auto;
  transition: 0.5s;
}

.envelope__btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.werili__content {
  background-color: white;
  padding: 1rem;

  box-shadow: 5px 10px 15px -3px #0000001a;
  border-radius: 0.5rem;

  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  height: 80%;
  width: 80%;
  z-index: 0;

  overflow-y: scroll;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.werili__content h1 {
  text-align: center;
}

.werili__content.active {
  z-index: 12;

  width: clamp(290px, 55vw + 1px, 650px);
  height: clamp(500px, 50vw + 1px, 750px);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.werili__content::-webkit-scrollbar {
  display: none;
}

.werili--overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);

  z-index: 1;

  display: none;
}

.werili--overlay.active {
  display: block;
}
